INFURA_API_KEY=""
INFURA_WSS_API_KEY=""
INFURA_ARBITRUM_API_KEY=""
INFURA_BASE_API_KEY=""
COINBASE_CDP_BASE_API_KEY=""
ALCHEMY_BASE_API_KEY=""
LINEASCAN_API_KEY=""

OKX_API_KEY=""
OKX_SECRET_KEY=""
OKX_API_PASSPHRASE=""
OKX_PROJECT_ID=""

BINANCE_API_KEY=""
BINANCE_SECRET_KEY=""
OKX_API_KEY_TRADES=""
OKX_SECRET_KEY_TRADES=""
OKX_API_PASSPHRASE_TRADES=""
GATE_API_KEY=""
GATE_SECRET_KEY=""
BYBIT_API_KEY=""
BYBIT_API_SECRET=""
BITGET_API_KEY=""
BITGET_API_SECRET=""

TIMEOUT_ACTION_SEC_MIN="0"
TIMEOUT_ACTION_SEC_MAX="0"
TIMEOUT_WALLET_SEC_MIN="5"
TIMEOUT_WALLET_SEC_MAX="5"
PERCENT_TRANSFER_MIN="100"
PERCENT_TRANSFER_MAX="100"

Type_Value="amount"
Value_Swap_Min="0.001"
Value_Swap_Max="0.001"
Type_Decimals="random"
Value_Decimals_Min="3"
Value_Decimals_Max="4"
Value_Decimals="4"
Value_Projects="1"
SLIPPAGE_MAX="1"

amount_token_type="max"
WAIT_TOKEN_IN_WALLET="yes"
Value_token_send_Min="1"
Value_token_send_Max="1"

Random_Wallet_List="false"
Increase_Gas_Price="1.05"
Gas_Price_Max="11150"

PANCAKE_HOT_MODE="yes"
PANCAKE_HOT_PREAPPROVE="yes"
PANCAKE_ROUTE_SCAN_MS="1000"
PANCAKE_GAS_REFRESH_MS="2000"
PANCAKE_GAS_MAX_AGE_MS="5000"
PANCAKE_INFINITY_LOOKBACK_BLOCKS="500000"
PANCAKE_INFINITY_LOG_CHUNK="50000"
PANCAKE_INFINITY_POLL_MS="1000"
PANCAKE_MIN_QUID_OUTPUT_USDC="7000"

LEGION_CLAIM_CONFIG=""
LEGION_BROADCAST_CONFIRM=""
